# Database Configuration
DB_HOST=dpg-d1bs5qadbo4c73cbm1l0-a.singapore-postgres.render.com
DB_PORT=5432
DB_NAME=demo_sjae
DB_USERNAME=dootam
DB_PASSWORD=v8jEOZCJek25OxmSDWisXQp5FpzAcr0B

# Service-specific database configurations
DEMO1_DB_NAME=demo_sjae
DEMO2_DB_NAME=demo_sjae

# Service-specific JDBC URLs
DEMO1_DATASOURCE_URL=jdbc:postgresql://dpg-d1bs5qadbo4c73cbm1l0-a.singapore-postgres.render.com/demo_sjae
DEMO2_DATASOURCE_URL=jdbc:postgresql://dpg-d1bs5qadbo4c73cbm1l0-a.singapore-postgres.render.com/demo_sjae

# Eureka Server Configuration
EUREKA_SERVER_HOST=eureka-server
EUREKA_SERVER_PORT=8761
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://${EUREKA_SERVER_HOST}:${EUREKA_SERVER_PORT}/eureka/

# Service Ports
DEMO1_SERVICE_PORT=8081
DEMO2_SERVICE_PORT=8082

# JPA Configuration
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_JPA_SHOW_SQL=true 